<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <h1>{{ site.title }}</h1>
      <p class="lead">{{ site.description }}</p>
    </div>

    <nav class="sidebar-nav">
      <a class="sidebar-nav-item" href="{{ site.baseurl }}/">About Me</a>
      <a class="sidebar-nav-item" href="{{ site.baseurl }}/clueboard/">Clueboard</a>
    </nav>

    <p>My Software:</p>
    <nav class="sidebar-nav">
      <a class="sidebar-nav-item" href="{{ site.baseurl }}/milc/">MILC</a>
      <a class="sidebar-nav-item" href="{{ site.baseurl }}/qmk_firmware/">QMK Firmware</a>
      <a class="sidebar-nav-item" href="{{ site.baseurl }}/qmk_api/">QMK API</a>
      <a class="sidebar-nav-item" href="{{ site.baseurl }}/qmk_cli/">QMK CLI</a>
    </nav>

    <p>&copy; 2021. All rights reserved.</p>
  </div>
</div>
